<div class="convos-container">
  <div>
    <% @relationships.each do |match| %>
      <% raise %>
    <div class="card-product">
      <img src="#">
      <div class="card-product-infos">
        <h2>match.name</h2>
        <% match messages %>
      </div>
    </div>

  </div>
</div>