<div class="bottom">
  <div class="footer-links">
    <%= link_to root_path do %>
      <i class="fas fa-home">
    <% end %>
    <%= link_to matches_path do %>
      <div class="blindly-mask"></div>
    <% end %>
    <%= link_to relationships_path do %>
      <i class="fas fa-comments">
    <% end %>
  </div>
</div>

