<div class="bottom">
  <div class="footer-links">
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><div class="blindly-mask"></div></a>
    <a href="#"><i class="fas fa-comments"></i></a>
  </div>

</div>

