<div class="bottom">
  <div class="footer-links">
    <%= link_to profile_path do %>
      <i class="fas fa-user-alt"></i>
    <% end %>
    <%= link_to potential_partners_path do %>
      <div class="blindly-mask"></div>
    <% end %>
    <%= link_to relationships_path do %>
      <i class="fas fa-comments"></i>
    <% end %>
  </div>
</div>

