<div class="banner" style="background-image: url(<%= image_path('blindly-bkg-pro.png') %>);">
  <div>
    <div class="logo-image" style="background-image: url(<%= image_path('blindly-logo-white.png') %>);"></div>
    <%# <h1><strong>Blindly</strong></h1> %>
    <p>Do you dare to step out of your comfort zone? </p>
    <%= if !user_signed_in?
      link_to new_user_registration_path do %>
      <button type='button' class='btn btn-outline-light btn-lg'>Sign Up</button>
      <%= link_to new_user_session_path do %>
        <button type='button' class='btn btn-outline-light btn-lg'>Log In</button>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div>
    <h6>Step 1: Find a potential partner based on common interests.</h6>
    <h6>Step 2: Get to know one another.</h6>
    <h6>Step 3: Meet up in the real world.</h6>
  </div>
</div>

