<div class="banner" style="background-image: url(<%= image_path('blindly-bkg-pro.png') %>);">
  <div>
    <div class="logo-image" style="background-image: url(<%= image_path('blindly-logo-white.png') %>);"></div>
    <%# <h1><strong>Blindly</strong></h1> %>
    <h5 class="tag-line">Be your own matchmaker! </h5>
    <%= if !user_signed_in?
      link_to new_user_registration_path do %>
      <button type='button' class='btn btn-outline-light btn-lg mb-4'>Sign Up</button>
      <%= link_to new_user_session_path do %>
        <button type='button' class='btn btn-outline-light btn-lg mb-4'>Log In</button>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div class="blindly-path">
    <i class="fas fa-search path-icon"></i>
    <h4 class="path-h4">Find a partner</h4>
    <i class="fas fa-link path-icon"></i>
    <h4 class="path-h4">Chat & connect</h4>
    <i class="fas fa-heart path-icon"></i>
    <h4 class="path-h4">Arrange a date</h4>
  </div>
</div>
