.affinity-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.affinity-bar {
    overflow: hidden;
    height: 40px;
    width: 75vw;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 30px;
}

.chat-buttons-top {
    width: 95vw;
    justify-content: space-between;
    display: flex;
    margin-bottom: 8px;
    padding: 0 2.5rem;
    align-items: center
}

.delete-match-link {
    color: red;
}

.view-profile-link {
    font-size: 24px;
    color: rgba(40, 40, 40, 0.9);
    font-weight: 900;
}

a.affinity-button {
    text-decoration: none;
}

.affinity-button-plus {
    font-size: 64px;
    color: #BF4075;
}

.affinity-button-minus {
    font-size: 64px;
    color: #404ABF;
}

.affinity-bar-label {
    opacity: 0.7;
}