.affinity-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.affinity-bar {
    overflow: hidden;
    height: 40px;
    width: 75vw;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: 8px 0px;
}

div.affinity-button {
    background-color: white;
    align-items: center;
    width: 16px;
    border: 2px solid #A244C2;
}

a.affinity-button {
    color: black;
    margin-top: 24px;
    padding: 4px;
    background-color: white;
    justify-content: center;
    width: 16px;
    border: 2px solid #A244C2;
}