.card-trip {
  position: relative;
  display: grid;
  grid-gap: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 95vh;
}

.card-trip > img {
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.card-trip h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  margin-top: 0px;
  margin-bottom: 100px;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.shared-interests {
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  height: 90px;
  justify-content: center;
  padding: 0 1rem;
  pointer-events: none;
}

.choice-card {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
}
