.chats-container {
    height: 75vh;
}

.msg-form {
    margin-top: 2px;
    background-color: #ffffff;
    //position: fixed;
    width: 95vw;
    bottom: 60px;
    position: relative;
}

#message_content {
    border-radius: 8px;
    background-color: #dedede21;
    padding: 10px;
    padding-right: 80px;
    position: absolute;
    bottom: -115px;
}

div#msg-container {
    height: 2px;
}

.chat-message-box {
    margin-bottom: 90px;
    background-color: white;
    position: relative;
    margin-bottom: 0px;
}

#messages {
    padding: 8px;
    height: 400px;
    width: 95vw;
    overflow: scroll;
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 8px;
    padding-bottom: 8px;
}

.chat-form-field {
    width: 95%;
    border-radius: 30px;
}

textarea.chat-form-field {
    width: 95%;
}

.msg-submit {
    background-color: #A244C2;
    color: white;
    padding: 8px;
    border-radius: 8px;
    height: 72px;
    width: 80px;
    border: none;
    align-content: right;
    position: absolute;
    bottom: -115px;
    right: 0px;
    box-shadow: -2px 2px 2px 0px rgba(30, 30, 30, 0.2);
}

.left-chat {
    width: fit-content;
    margin-bottom: 8px;
    margin-left: 4px;
    background-color: #A244C2;
    border-bottom: black;
    color: #ffffff;
    padding: 2px 8px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 80%;
}

.right-chat {
    width: fit-content;
    margin-bottom: 8px;
    margin-right: 4px;
    background-color: #ffffff;
    border-bottom: black;
    color: #000000;
    padding: 2px 8px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    max-width: 80%;
}