.container {
}
.left-chat {
  background-color: white;
  border-bottom: black;
  color: #685d5dd2;
  padding: 2px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid #685d5dd2;
  max-width: 80%;
}
.right-chat {
  background-color: white;
  border-bottom: black;
  color: #685d5dd2;
  padding: 2px 8px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: 1px solid #685d5dd2;
  margin-left: auto;
  max-width: 80%;
}
