.banner {
    min-height: calc(80vh - 86px - 60px);
    //height: 600px;
    background-size: cover;
    background-position: bottom;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 32px;
    font-weight: bold;
}

.blindly-path {
    margin-bottom: 8px;
    color: rgb(235, 216, 110);
    /*box-shadow: 0px 4px 4px black;*/
    width: 100%;
    /*#FDFF8F;*/
}

.path-h4 {
    margin-bottom: 30px;
}

.path-icon {
    font-size: 24px;
    margin-bottom: 16px;
}

.tag-line {
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
    /*box-shadow: 0px 5px 5px black;*/
}

.banner h6 {
    padding: 16px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    opacity: .9;
}

.banner p {
    font-size: 20px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-category {
    padding: 10px;
    margin: 8px;
    background-color: #4C0F8E;
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.hp-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    background-color: #ffffff;
}

.logo-image {
    margin-top: 10px;
    padding: 10px;
    height: 230px;
    background-size: cover;
}

.path i {
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .hp-cards {
        grid-template-columns: 1fr;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .hp-cards {
        grid-template-columns: 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .hp-cards {
        grid-template-columns: 1fr 1fr;
    }
}