.card-interests {
display: flex;
width: 80%;
}

.wrapper {
  background-color: #6D8299;
  border-radius: 5px;
  padding: 10px;
}

.btn-success {
  display: flex;
margin-left: auto;
margin-right: auto;
}

h5 {
  padding-top: 10px;
  margin-left: 5px;
}

ul {
  display:inline-block;
  column-count: 2;

}

.col-form-label{
  display: none !important;
}

.form-control {
border-radius: 5px;
}
