.card-interests {
display: flex;
width: 80%;

}

.wrapper {
  background-color: #f9f8fa;
  border-radius: 5px;
  padding: 10px;

}

.btn-success {
  display: flex;
margin-left: auto;
margin-right: auto;
background-color: #bbaeeb;
border: 1px solid rgb(148, 143, 143);
margin-bottom: 5px;
}

h5 {
  padding-top: 10px;
  margin-left: 5px;
}

ul {
  display:inline-block;
  column-count: 2;
  margin-bottom: 0%;
}

.col-form-label{
  display: none !important;
}

.form-control {
border-radius: 5px;
}

.input_field {
background-color:#f1edf18f;

}
