.container {
}

.card-interests {
display: flex;
width: 80%;
}

.wrapper {
  background-color: purple;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  display: flex;
margin-left: auto;
margin-right: auto;
}

h5 {
  padding-top: 10px;
  margin-left: 5px;
}

ul {
  display:inline-block;
  column-count: 2;

}
