.convos-container {
    min-height: calc(100vh - 86px - 90px);
    background-color: white;
}

.relationships-container {
    overflow: scroll;
}

div.card-product {
    //background: #9c59e4;
    margin-bottom: 4px;
    background-color: white;
    padding: 4px;
}

.card-product {
    overflow: hidden;
    height: 120px;
    width: 100vw;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

img.chat-pic {
    height: 100px;
    padding: 10px;
    border-radius: 50%;
}

.card-product h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.card-product p {
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-product .card-product-infos {
    padding: 16px;
}