.sign-up-card {
    justify-content: center;
}

.input {
    border-radius: 5px;
}

.form-container {
    background-color: #8a47ce;
    border: 2px solid grey;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
}

.inside-navbar {
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}