body{
  background-color: #852ebe;

}
.avatar_user{
  margin-top: 40px;
  width: 250px;
  height: 250px;
  background-color: #D5D5D5;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;

}

.fa-user-edit::before{
font-size: 40px;
color: #a19da7;
}

.fa-user-edit:after{
  color: #193498;
}

.header {
  display: flex;
align-items: center;
justify-content: space-around;
margin-right: 40px;
}

.fa-male{
  font-size: 40px;
  margin: 15px;
}

.fa-female{
  font-size: 40px;
  margin: 15px;
}

.description {
  margin: 10px;
}

.column {
  column-count: 2;
}

h5 {
  margin-left: 5%;
  margin-top: 0%;

}

.Bio {
margin-left: 15px;

}

.p-4 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
padding: 0.2rem !important;
}

.profile-card {
  border-bottom: 2px dotted rgb(49, 22, 22);
  margin-bottom: 10px;
}
