<div class="cards">
  <%  @users.each do |user| %>
    <div class="card-trip">
      <div class="shared-interests">
        <ul>
          <% user.interests.each do |interest| %>
            <li><%= interest + ","%></li>
          <% end %>
        </ul>
      </div>
      <img src="https://e7.pngegg.com/pngimages/274/250/png-clipart-bitstrips-female-woman-girl-bitmoji-child-face-thumbnail.png" class="card-trip-user avatar-bordered" />
      <div class="card-trip-infos">
        <div>
          <h2><%= user.name %>, <%= user.age %></h2>
          <p><em><%= user.biography %></em></p>
        </div>
        <div class="choice-card">
          <i class="fas fa-times-circle fa-5x"></i>
          <i class="fab fa-gratipay fa-5x"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
